.DS_Store
*.swp
*checkpoints*
build
dist
resample.egg-info
install_log.txt
*__pycache__
.pytest_cache
.mypy_cache
.benchmarks
resample/.coverage
*.sh
html*
.doctrees
_build
*coverage*
.idea
benchmarks/.asv/
junit
py[0-9]*
venv
resample/_version.py
