.DS_Store
*.swp
*checkpoints*
build
dist
resample.egg-info
install_log.txt
*__pycache__
.pytest_cache
.mypy_cache
.benchmarks
.coverage
coverage.xml
*.sh
html*
.doctrees
_build
.idea
benchmarks/.asv/
junit
py[0-9]*
venv
src/resample/_version.py
