.vscode
.DS_Store
*.swp
*checkpoints*
build
dist
prof
resample.egg-info
install_log.txt
*__pycache__
.pytest_cache
.mypy_cache
.benchmarks
.coverage
coverage.xml
html*
.doctrees
_build
.idea
benchmarks/.asv/
junit
py[0-9]*
venv
resample/_ext.cpython*
src/resample/_ext.cpython-*.so
