files: 'resample'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: sort-simple-yaml
  - id: file-contents-sorter
  - id: trailing-whitespace

# Ruff linter, replacement for flake8, isort, pydocstyle
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.2.0'
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]

# Python formatting
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.1.1
  hooks:
  - id: black

# Python type checking
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.8.0'
  hooks:
  - id: mypy
    args: [--allow-redefinition, --ignore-missing-imports]
