name: Test

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  PIP_ONLY_BINARY: ":all:"

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        # version number must be string, otherwise 3.10 becomes 3.1
        python-version: ["3.10", "3.11", "3.13"]
        include:
          - os: windows-latest
            python-version: "3.13"
          - os: macos-latest
            python-version: "3.11"
          - os: macos-14
            python-version: "3.10"
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - uses: astral-sh/setup-uv@v3

    - run: uv pip install --system -e .[test]

    - if: matrix.os != 'ubuntu-latest'
      run: python -m pytest

    - if: matrix.os == 'ubuntu-latest'
      env:
        JUPYTER_PLATFORM_DIRS: 1
      run: coverage run -m pytest

    - if: matrix.os == 'ubuntu-latest'
      uses: coverallsapp/github-action@v2
